#VerMisRecetas,#VerMisMedicos,#VerMisAlertas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* Distribuye los elementos equitativamente */
    padding: 0 20px;
    height: 100%;
    border-radius: 10px;
    width: auto;
    transition:  0.3s ease-in-out;
}
#hoverr,#hoverm,#hovera{  transition:  0.3s ease-in-out;
    background-color: white;
    font-weight: bold;
    text-align: center;
  
       border-radius: 5px; /* Suaviza los bordes */}
/* -----------------------------------------MIS RECETAS*/
#VerMisRecetas {background-color: #f59d7d;}
#VerMisRecetas:hover {background-color: #d77957; }
#hoverr:hover {
    color: #f9a365; /* Mantiene el color del texto en armonía */
}

/* -----------------------------------------MIS MEDICOS*/
#VerMisMedicos {background-color: #66b794f1;}
#VerMisMedicos:hover {background-color: #449a74f1;}
#hoverm:hover {
    color: #66b794f1; /* Mantiene el color del texto en armonía */ 
}
/* -----------------------------------------MIS ALERTAS*/
#VerMisAlertas {background-color: #84CBF1;}
#VerMisAlertas:hover {background-color: #5aa0c6;  }
#hovera:hover {
    color: #84CBF1; /* Mantiene el color del texto en armonía */
}
/* ----------TEXTOS BTN*/
/* .texto {
    margin: 20px;
padding: 20px;} */

.texto2 {
    font-size: 12px;
    text-align: left;
    color: rgb(226, 226, 226);
}

.icono {
    display: flex;
    align-items: center;
    width: auto;
    /* Tamaño mediano */
    height: auto;
    margin-right: 20px;
    /* Espacio entre el texto y el icono */
}

.icono>img {width: 50px;}


/* VER MI PERFIL---------------------------------------*/
#verperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84CBF1;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

#verperfil:hover {
    background-color: #00669C;
  
}

@media screen and (max-width: 700px) {
    #VerMisRecetas,#VerMisMedicos,#VerMisAlertas{
        flex-direction: column;
    }

    .icono {
        order: 2;
        /* La imagen en el centro */
    }
    .hoverr {
        order: 1;
        /* Ubica el título arriba */
        font-size: 18px;
    }
    .texto2 {
        order: 3;
        /* El texto descriptivo abajo */
        text-align: center;
        font-size: 14px;
    }
}