/* Divs con diferentes anchos */
.usuario-div {background-color: yellow;
}


        /* 1  Y 2 TEXTO : boton y texto2 de cajas ---------------------------- */
        .texto {width: 65%;  }
        .texto2 {
            font-size: 12px;
            color: white;
            margin-left: 10px;
            height: 60px;
        }

        /* ICONOS ------------------------------------------------------------ */
        .icono {display: flex;}
        .icono>img {width: 40px;}


        /*INPUT FORMULARIOS-----------------------------------------*/

            
        .input {
            width: 100%;margin: auto;
        text-align: center;
            background-color: white; 
            border: 1px solid white;  
            border-radius: 20px;         /* Bordes redondeados */
            padding: 6px 0;              /* Espaciado interno */
            font-size: 14px;            /* Tamaño de la fuente */
            color: #333;                /* Color del texto */
        }

        /* Cambiar el color de fondo cuando el input está enfocado */
        .input:focus {
            border-color: #84CBF1;     /* Cambiar el color del borde al hacer focus */
            outline: none;             /* Eliminar el contorno predeterminado */
        }



/*HOME CLIENTE HEADER -------------------------------*/
/* --------------------------- HEADER CLIENTE UNO --------------------------- */
#header-cliente-uno {
    margin:auto;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    
    flex-shrink: 0;
    width: 90%;
}

.nav-cliente-uno {width: 100%;}

.nav-cliente-uno ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    align-items: center;
}

/* .nav-cliente-uno ul li {
    flex: 1;
    text-align: center;
    margin: 0 10px;
} */

.nav-cliente-uno ul li:first-child {
    margin-left: 0;
}

#header-cliente-uno .nav-cliente-uno ul li a {
    text-decoration: none;
    font-size: 16px;
    /* transition: color 0.3s ease; */
}

#header-cliente-uno  .nombre-usuario , #paciente-text{
    font-weight: bold;
    color: #84CBF1;
;
}

#header-cliente-uno .nav-cliente-uno ul li.tipo-cuenta {
    font-size: 16px;
    color: #333;
}


                /* Estilos para el logotipo */
                .logo-about-us {
                    width: 90px;
                }

                /* Estilos para el nombre de cliente y tipo de cuenta */
                .nombre-cliente, .tipo-cuenta {
                    font-size: 16px;
                    color: #333;
                
                }


/* --------------------------- HEADER CLIENTE DOS --------------------------- */
#header-cliente-dos {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    /* border: 1px solid #ccc; Borde sólido */
    border-radius: 20px;
    width: 90%; /* Modificado para que no ocupe el 100% */
    margin: 0 auto; /* Centra el header en la página */
}

.nav-cliente-dos {
    width: 100%;
}

.nav-cliente-dos ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-cliente-dos ul li {
    flex: 1;
    text-align: center;
}

.nav-cliente-dos ul li a {
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

#header-cliente-dos .nav-cliente-dos ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

#header-cliente-dos .nav-cliente-dos ul li a:hover {
    color: #00669C;
}

/* CLIENTE - USUARIO COMO PACIENTE----------------------------------------------------------*/


/*----------------------------------------------------------*/
@media screen and (max-width: 1270px) {
}

/*----------------------------------------------------------*/
@media (max-width: 770px) {
    #header-cliente-uno {
        width: 90%; /* El header ocupará el 90% en pantallas más pequeñas */
    }
    #header-cliente-dos {
        width: 90%; /* El header ocupará el 90% en pantallas más pequeñas */
    }
    .nav-cliente-dos ul {
        flex-direction: column; /* Los enlaces se apilarán en lugar de estar en fila */
        align-items: center;
    }
    .nav-cliente-dos ul li {
        margin: 5px 0;
    }
    
    .usuario-div-seis {
        flex-direction: column;
        align-items: center;
    }

    .usu-footer {width: 100%;}

}

/* --------------------------- MAIN --------------------------- */
#usuario-main {
    width: 90%; 
    margin: 30px auto; /* Centra el main horizontalmente */
    background-color: white;

    padding: 20px 0px;
    border-radius: 8px;
}


/* SEIS-------------------------- SALUDO --------------------------- */
.usuario-div-seis {
    border-top:1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}
.usu-footer {
    padding: 20px 20px;
    text-align: center;
    flex: 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}
#rrss {
    width: 100%;
    /* border-right: 1px solid white; */
}
#rrss ul {
    width: 100%;
    list-style: none; 
    padding: 0;
    margin: 20px 0;
    display: flex; /* Coloca los elementos en línea */
    justify-content: space-around; /* Espaciado uniforme */
    align-items: center;
}
#rrss ul li {
    display: inline-block; /* Asegura que los elementos permanezcan en línea */}
#rrss ul li a img {
    width: 30px; 
    height: auto; 
    opacity: 0.6; 
    transition: opacity 0.3s ease-in-out;
}
#rrss ul li a img:hover {opacity: 1; }



/* BONT NEWSLETTER Y CREAR CUENTA---------------------------------------*/
#btn-usu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
#btn-usu-footer:hover {
    background-color: #00669C;  
}



        /* 1 VOLVER HOME ---------------------------------------*/
        .BtnVolverHome {
            width: 250px;
            margin-left: 40px;
            /* border-radius: 20px;*/
            border:1px solid yellow; 
            font-weight: bold; 
            color: #00669C;
            cursor: pointer;

            text-decoration: none;
        }

        .BtnVolverHome:hover {
            color: #84CBF1; 
            font-weight: bold;
        }
        /* 2 CERRAR SESION --------------------------------------- */
        .cerrar-sesion-cliente {
            width: 200px;
            padding: 8px;
            border-radius: 20px;
            background-color: white; 
            color: #00669C;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: color 0.3s ease;
        }
        .cerrar-sesion-cliente:hover {
            background-color: #00669C;
            color: white;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
        }

        /* H1 H2--------------------------------------- */
        h2,h1{
        color: rgb(72, 72, 72);
        text-align: center;
        font-weight: normal;
        margin: 20px auto;}

        /* H3 --------------------------------------- */
        h3,h4,h5,h6{
        color: rgb(72, 72, 72);
        text-align: center;
        font-weight: normal;}